{% extends "skabelon.html" %}
{% block rumtekst %}
<h1>Våbenkammeret</h1>
<p>
Du står i våbenkammeret. To rustninger flankerer et bord med udstyr. 
Der er rigeligt at tage af, men det er næppe almindelige våben som bider på borgens udøde væsner.
</p>
<p>
En <a href="smal_stentrappe">smal stentrappe</a> fører ned i mørket og en <a href="bred_trappe">lidt bredere</a> fører op i et tårn.
</p>
<p>
Mod <a href="vagtstue">syd</a> er den hemmelige dør endnu åben ind til vagtstuen.
</p>
{% endblock %}